@charset "UTF-8";
/*-------------------------------------------------------------------
    파일정의 : reset.css 모든 페이지에 공통으로 적용되는 reset css
    작성자 : 이정은(lje)
    작성일 : 2019-11-26
    속성순서 : 표시 > 위치 > 넘침/흐름 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/

/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Noto Sans KR', 'Noto Sans Korean', serif, 'sans-serif';
	font-weight: 400;
	font-size: 14px;
	line-height: 1.2;
	color: #444;
}

body, html {
	-ms-overflow-style: scrollbar !important;
}

fieldset, img {
  border: 0 none;
}

dl, ul, ol, menu, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

input, select, textarea, button {
  vertical-align: middle;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

body {
  background: #fff;
}

body, th, td, input, select, textarea, button {
  font-size: 14px;
  line-height: 1.5;
  color: #686868;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  outline: none;
}

address, caption, cite, code, dfn, em, var {
  font-style: normal;
  font-weight: normal;
}

/* Form Reset  */
input::-ms-clear, input::-ms-reveal {
  display: none;
}

::-webkit-input-placeholder {
  color: #b1b1b1;
}

::-moz-placeholder {
  color: #b1b1b1;
}

:-ms-input-placeholder {
  color: #b1b1b1;
}

.placeholder {
  color: #b1b1b1;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

select::-ms-expand {
  display: none;
}

caption {
    display: none;
    visibility: hidden;
	padding: 0;
    font-size: 0;	
}

/* Global Font Rendering Styles */
* {
  text-rendering: auto;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: always;
  /* text-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1) ;  */
}

/* Global Focus Styles */
.form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
:active,
:focus,
:visited,
a,
a:active,
a:focus,
a:visited {
  outline: 0;
}
